.App {
  text-align: center;
}

input {
  margin: 6px; 
  width: 260px;
  height: 32px;
  padding: 3px
}

button {
  width: 70px;
  height: 30px;
  margin: 2px;
  background-color: rgb(204, 36, 50);
  color: #FFFFFF;
  border: 1.25px solid white;
  border-radius: 2px; 
  border: none; 
  cursor: pointer
}
