* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: linear-gradient(90deg, #69B7EB, #B3DBD3, #F4D6DB);
  font-size: 1.1rem;
  font-family: sans-serif;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}